.singleExe__title {
  font-size: var(--size-4xl);
  color: var(--primary-300);
  text-transform: uppercase;
  letter-spacing: var(--letter-space);
}
.singleExe__title-link {
  font-size: var(--size-4xl);
  color: var(--primary-300);
  text-transform: uppercase;
  letter-spacing: var(--letter-space);
  text-decoration: none;
}
.exercise__title {
  text-align: left;
  font-size: var(--size-2xl);
  letter-spacing: var(--letter-space-sm);
  margin-bottom: 0.5rem;
  color: var(--gray-500);
  text-transform: uppercase;
}
.singleExe__info {
  padding-bottom: 1rem;
  background-color: var(--gray-100);
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem 0;
}
.step__title {
  font-size: var(--size-xl);
  color: var(--gray-400);
  padding: 1rem 0;
}
.exercise__desc {
  list-style-type: circle;
}
.exe__desc {
  font-size: var(--size-sm);
  letter-spacing: var(--letter-space-sm);
  color: var(--gray-400);
  line-height: var(--wider-sm);
}

@media (min-width: 768px) {
  .step__title {
    font-size: var(--size-2xl);
  }
  .exe__desc {
    font-size: var(--size-base);
  }
}
